<div class="nav navbar-right">
    <label class="labelheading">

    </label>
    <label id="labelheading">Ramya Printers - 1.0</label>
    <div class="buildInfo">
        <label>
            Version: @ViewContext.Controller.GetType().Assembly.GetName().Version ; Date: @File.GetCreationTime(ViewContext.Controller.GetType().Assembly.Location).ToShortDateString()
        </label>
    </div>
</div>
