
<footer class="navbar-orange navbar-fixed-bottom footer">
    <div class="footerdiv">
        <p class="footerParagraph">
            <font size="1" face="Verdana, Arial, Helvetica, sans-serif" color="orange">
                IMPORTANT NOTICE
            </font>
        </p>
        <p class="footerParagraph">
            <font face="Verdana, Arial, Helvetica, sans-serif" class="footerstyle">
                THIS DATA AND THE IDEAS IN 	THE DATA AND PRINCIPLES REPRESENTED
                ARE THE PROPERTY OF THE RAMYA PRINTERS TO BE USED EXCLUSIVELY
                FOR ITS WORK AND FOR NO OTHER PURPOSE WHATSOEVER. THE DATA
                AND THE IDEAS AND PRINCIPLES IT REPRESENTS ARE CONFIDENTIAL
                AND MAY NOT BE DIVULGED TO ANYONE EXCEPT FOR
                THE PURPOSE FOR WHICH THE DATA IS PROVIDED. VIEWING BY
                UNAUTHORIZED PERSONS IS EXPRESSLY PROHIBITED.
            </font>
        </p>
        <p class="footerParagraph">
            <font face="Verdana, Arial, Helvetica, sans-serif" class="footerstyle">
                THIS DATA IS NOT TO BE COPIED OR REPRODUCED WITHOUT THE CONSENT
                OF THE RAMYA PRINTERS. ALL PRINTS AND COPIES THEREOF ARE TO
                BE RETURNED TO THE RAMYA PRINTERS.
            </font>
        </p>
    </div>
</footer>