<!--Added fix for modal not to autoclose when clicked on bg-->
<div class="modal fade modal text-center" id="divLoading" 
     tabindex="-1" role="dialog" 
     aria-labelledby="myModalLabel" 
     aria-hidden="true" 
     data-backdrop="static" 
     data-keyboard="false">
    <div class="modal-dialog" style="left: 0">
        <div class="modal-content text-center" style="margin-top: 206px; border: none">
            <div style="" class="text-center">
                <img src="~/App_Themes/images/LoadingImage.gif" />
            </div>
        </div>
    </div>
</div>
