
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<nav class="navbar navbar-inverse navbar-fixed-top  header-nav">
    <div class="container-fluid-nu">
        <div class="navbar-header navHeaderMaxHeight">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand DIMNavbarBrand" href="@Url.Action("Index","Home", new { Area = "ZDES" })">
                <img src="~/App_Themes/images/ramya-logo-orange-small.png" />
            </a>
        </div>

        <div class="nav navbar-right">
            <label class="labelheading">

            </label>
            <label id="labelheading">Ramya Printers - 1.0</label>
            <div class="buildInfo">
                <label>
                    Version: @ViewContext.Controller.GetType().Assembly.GetName().Version ; Date: @File.GetCreationTime(ViewContext.Controller.GetType().Assembly.Location).ToShortDateString()
                </label>
            </div>
        </div>

    </div>
</nav>
<div class="Renderdiv">@RenderBody()</div>




