
<div id="MainMenu" class="">
    <input type="hidden" id="hidSideMenuName" value="@ViewBag.sideMenuName" />
    <div class="list-group panel">
        <a href="#Menus" class="list-group-item list-group-item-success strong text-left active" data-toggle="collapse" data-parent="#MainMenu">
            <label style="color:#fff">User Management</label>
        </a>

        <div class="list-group-submenu" id="Menus">

            <a href="@Url.Action("Index","ManageUser", new { Area = "UserManagement" })" class="list-group-item" id="ManageUser" data-parent="#SubMenu1"><span>Manage User</span></a>
            <a href="@Url.Action("Index","ManageRole", new { Area = "UserManagement" })" class="list-group-item" id="ManageRole" data-parent="#SubMenu1"><span>Manage Role</span></a>

        </div>
    </div>
</div>















