################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/packages
/.vs
/RMDRMC.Core.Test/bin/Debug
/RMDRMC.Core.Test/obj/Debug
/RMDRMC.Data.Sql/obj/Debug
/RMDRMC.Data.Sql/bin/Debug
/RMDRMC.DataRepository.Sql/obj/Debug
/RMDRMC.DataRepository.Sql/bin/Debug
/RMDRMC.Data.Sql/Class1.cs
/RMDRMC.Domain.Core/obj/Debug
/RMDRMC.Domain.Core/bin/Debug
/RMDRMC.DataRepository.Sql/Properties/AssemblyInfo.cs
/RMDRMC.Entities.Sql/obj/Debug
/RMDRMC.Entities.Sql/bin/Debug
/RMDRMC.Infrastructure.Common/obj/Debug
/RMDRMC.Infrastructure.Common/bin/Debug
/RMDRMC.Infrastructure.Dependency/obj/Debug
/RMDRMC.Infrastructure.Dependency/bin/Debug
/RMDRMC.Mapper.Model/obj/Debug
/RMDRMC.Mapper.Model/bin/Debug
/RMDRMC.MockData.Sql/obj/Debug
/RMDRMC.MockData.Sql/bin/Debug
/RMDRMC.Web.Application/bin
/RMDRMC.Web.Application/obj/Debug
/RMDRMCWeb.ViewModels/obj/Debug
/RMDRMCWeb.ViewModels/bin/Debug
/RMDRMC.Model/bin/Debug
/RMDRMC.Model/obj/Debug
