
    <div class="text-center">
        <div class="panel panel-default" style="border-color:#ddd;" id="addressdetails">
            <div class="panel-heading-sm">
                <label><a href="#address" data-toggle="collapse" data-parent="#addressdetails">Address Details<span class="glyphicon glyphicon-minus"></span></a></label>
            </div>

            <div id="address" class="panel-body  panel-collapse collapse in" role="tabpanel" aria-labelledby="Header Fields">

                <div class="row">
                    <div class="form-group clearfix">
                        <label class="control-label col-sm-2 col-md-2 tooltip-enable formLabelAlign"
                               data-toggle="tooltip" id="lblAreaNo" data-placement="bottom" title="Area / No" for="txtAreaNo">Area/No#:</label>
                        <div class="col-sm-10 col-md-10">
                            <input type="text" class="form-control input-sm tooltip-enable master-screen-input" id="txtAreaNo"
                                   data-toggle="tooltip" data-placement="bottom" title="Area/No" value=""
                                   name="Area" />
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="form-group clearfix">
                        <label class="control-label col-sm-2 col-md-2 tooltip-enable formLabelAlign"
                               data-toggle="tooltip" id="lblTownCity" data-placement="bottom" title="Town / City">Town/City:</label>
                        <div class="col-sm-10 col-md-10">
                            <input type="text" class="form-control input-sm tooltip-enable master-screen-input" id="txtTownCity"
                                   data-toggle="tooltip" data-placement="bottom" title="Town / City" value=""
                                   name="City" />
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="form-group clearfix">
                        <label class="control-label col-sm-2 col-md-2 tooltip-enable formLabelAlign"
                               data-toggle="tooltip" id="lblDistrict" data-placement="bottom" title="District">District:</label>
                        <div class="col-sm-10 col-md-10">
                            <input type="text" class="form-control input-sm tooltip-enable master-screen-input" id="txtDistrict"
                                   data-toggle="tooltip" data-placement="bottom" title="District" value=""
                                   name="District" />
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="form-group clearfix">
                        <label class="control-label col-sm-2 col-md-2 tooltip-enable formLabelAlign"
                               data-toggle="tooltip" id="lblCountry" data-placement="bottom" title="Country" for="drpCountry">Country:</label>
                        <div class="col-sm-10 col-md-10">
                            <div class="row col-xs-11 col-sm-11 col-md-11">
                                <select class="form-control input-sm tooltip-enable master-screen-input" id="drpCountry"
                                        data-toggle="tooltip" data-placement="bottom" name="Country" title="Select Country">                                  
                                </select>
                            </div>
                            <div class="col-xs-1 col-sm-1 col-md-1">
                                <button type="button" class="rmd-search-button ButtonWithImage" onclick="AddCountries()"><i class="glyphicon glyphicon-plus-sign"></i></button>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="form-group clearfix">
                        <label class="control-label col-sm-2 col-md-2 tooltip-enable formLabelAlign"
                               data-toggle="tooltip" id="lblState" data-placement="bottom" title="State" for="drpState">State:</label>
                        <div class="col-sm-10 col-md-10">
                            <div class="row col-xs-11 col-sm-11 col-md-11">
                                <select class="form-control input-sm tooltip-enable master-screen-input" id="drpState"
                                        data-toggle="tooltip" data-placement="bottom" name="State" title="Select State"></select>
                            </div>
                            <div class="col-xs-1 col-sm-1 col-md-1">
                                <button type="button" class="rmd-search-button ButtonWithImage" onclick="AddStates()"><i class="glyphicon glyphicon-plus-sign"></i></button>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="form-group clearfix">
                        <label class="control-label col-sm-2 col-md-2 tooltip-enable formLabelAlign"
                               data-toggle="tooltip" id="lblPincode" data-placement="bottom" title="Pin Code" for="txtPincode">Pin Code:</label>
                        <div class="col-sm-10 col-md-10">
                            <input type="text" class="form-control input-sm tooltip-enable master-screen-input" id="txtPincode"
                                   data-toggle="tooltip" data-placement="bottom" title="Pin Code" value=""
                                   name="Pincode" />
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="form-group clearfix">
                        <label class="control-label col-sm-2 col-md-2 tooltip-enable formLabelAlign"
                               data-toggle="tooltip" id="lblEmail" data-placement="bottom" title="Email">Email:</label>
                        <div class="col-sm-10 col-md-10">
                            <input type="text" class="form-control input-sm tooltip-enable master-screen-input" id="txtEmail"
                                   data-toggle="tooltip" data-placement="bottom" title="Email" value=""
                                   name="Email" />
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="form-group clearfix">
                        <label class="control-label col-sm-2 col-md-2 tooltip-enable formLabelAlign"
                               data-toggle="tooltip" id="lblWebsite" data-placement="bottom" title="Website">Web Site:</label>
                        <div class="col-sm-10 col-md-10">
                            <input type="text" class="form-control input-sm tooltip-enable master-screen-input" id="txtWebsite"
                                   data-toggle="tooltip" data-placement="bottom" title="Website" value=""
                                   name="Website" />
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>