
    <div class="text-center">
        <div class="panel panel-default" style="border-color:#ddd;" id="addressdetails">
            <div class="panel-heading-sm">
                <label><a href="#address" data-toggle="collapse" data-parent="#addressdetails">Address Details<span class="glyphicon glyphicon-minus"></span></a></label>
            </div>

            <div id="address" class="panel-body  panel-collapse collapse in" role="tabpanel" aria-labelledby="Header Fields">
                <div class="row">
                    <div class="form-group clearfix">
                        <label class="control-label col-sm-2 col-md-2 tooltip-enable formLabelAlign"
                               data-toggle="tooltip" id="lblLastName" data-placement="bottom" title="Last Name">Area/No#:</label>
                        <div class="col-sm-10 col-md-10">
                            <input type="text" class="form-control input-sm tooltip-enable master-screen-input" id="txtLastName"
                                   data-toggle="tooltip" data-placement="bottom" title="Last Name" value=""
                                   name="LastName" />
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="form-group clearfix">
                        <label class="control-label col-sm-2 col-md-2 tooltip-enable formLabelAlign"
                               data-toggle="tooltip" id="lblLastName" data-placement="bottom" title="Last Name">Town/City:</label>
                        <div class="col-sm-10 col-md-10">
                            <input type="text" class="form-control input-sm tooltip-enable master-screen-input" id="txtLastName"
                                   data-toggle="tooltip" data-placement="bottom" title="Last Name" value=""
                                   name="LastName" />
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="form-group clearfix">
                        <label class="control-label col-sm-2 col-md-2 tooltip-enable formLabelAlign"
                               data-toggle="tooltip" id="lblLastName" data-placement="bottom" title="Last Name">District:</label>
                        <div class="col-sm-10 col-md-10">
                            <input type="text" class="form-control input-sm tooltip-enable master-screen-input" id="txtLastName"
                                   data-toggle="tooltip" data-placement="bottom" title="Last Name" value=""
                                   name="LastName" />
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="form-group clearfix">
                        <label class="control-label col-sm-2 col-md-2 tooltip-enable formLabelAlign"
                               data-toggle="tooltip" id="lblEmail" data-placement="bottom" title="Email">Country:</label>
                        <div class="col-sm-10 col-md-10">
                            <div class="row col-xs-11 col-sm-11 col-md-11">
                                <select class="form-control input-sm tooltip-enable master-screen-input" id="drpPaymentTerms"
                                        data-toggle="tooltip" data-placement="bottom" name="RoleID" title="Select Role">                                  
                                </select>
                            </div>
                            <div class="col-xs-1 col-sm-1 col-md-1">
                                <button type="button" class="rmd-search-button ButtonWithImage" onclick="SearchCustomers()"><i class="glyphicon glyphicon-plus-sign"></i></button>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="form-group clearfix">
                        <label class="control-label col-sm-2 col-md-2 tooltip-enable formLabelAlign"
                               data-toggle="tooltip" id="lblEmail" data-placement="bottom" title="Email">State:</label>
                        <div class="col-sm-10 col-md-10">
                            <div class="row col-xs-11 col-sm-11 col-md-11">
                                <select class="form-control input-sm tooltip-enable master-screen-input" id="drpPaymentTerms"
                                        data-toggle="tooltip" data-placement="bottom" name="RoleID" title="Select Role"></select>
                            </div>
                            <div class="col-xs-1 col-sm-1 col-md-1">
                                <button type="button" class="rmd-search-button ButtonWithImage" onclick="SearchCustomers()"><i class="glyphicon glyphicon-plus-sign"></i></button>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="form-group clearfix">
                        <label class="control-label col-sm-2 col-md-2 tooltip-enable formLabelAlign"
                               data-toggle="tooltip" id="lblLastName" data-placement="bottom" title="Last Name">Pin Code:</label>
                        <div class="col-sm-10 col-md-10">
                            <input type="text" class="form-control input-sm tooltip-enable master-screen-input" id="txtLastName"
                                   data-toggle="tooltip" data-placement="bottom" title="Last Name" value=""
                                   name="LastName" />
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="form-group clearfix">
                        <label class="control-label col-sm-2 col-md-2 tooltip-enable formLabelAlign"
                               data-toggle="tooltip" id="lblLastName" data-placement="bottom" title="Last Name">Email:</label>
                        <div class="col-sm-10 col-md-10">
                            <input type="text" class="form-control input-sm tooltip-enable master-screen-input" id="txtLastName"
                                   data-toggle="tooltip" data-placement="bottom" title="Last Name" value=""
                                   name="LastName" />
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="form-group clearfix">
                        <label class="control-label col-sm-2 col-md-2 tooltip-enable formLabelAlign"
                               data-toggle="tooltip" id="lblLastName" data-placement="bottom" title="Last Name">Web Site:</label>
                        <div class="col-sm-10 col-md-10">
                            <input type="text" class="form-control input-sm tooltip-enable master-screen-input" id="txtLastName"
                                   data-toggle="tooltip" data-placement="bottom" title="Last Name" value=""
                                   name="LastName" />
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>