
<div class="text-center">
    <div class="panel panel-default" style="border-color:#ddd;" id="otherinfo">
        <div class="panel-heading-sm">
            <label><a href="#otherdetails" data-toggle="collapse" data-parent="#otherinfo">Other Details<span class="glyphicon glyphicon-minus"></span></a></label>
        </div>

        <div id="otherdetails" class="panel-body  panel-collapse collapse in" role="tabpanel" aria-labelledby="Header Fields">
            <div class="row">
                <div class="form-group clearfix">
                    <label class="control-label col-sm-2 col-md-2 tooltip-enable formLabelAlign"
                           data-toggle="tooltip" id="lblLastName" data-placement="bottom" title="Last Name">TIN:</label>
                    <div class="col-sm-10 col-md-10">
                        <input type="text" class="form-control input-sm tooltip-enable master-screen-input" id="txtLastName"
                               data-toggle="tooltip" data-placement="bottom" title="Last Name" value=""
                               name="LastName" />
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="form-group clearfix">
                    <label class="control-label col-sm-2 col-md-2 tooltip-enable formLabelAlign"
                           data-toggle="tooltip" id="lblLastName" data-placement="bottom" title="Last Name">CST:</label>
                    <div class="col-sm-10 col-md-10">
                        <input type="text" class="form-control input-sm tooltip-enable master-screen-input" id="txtLastName"
                               data-toggle="tooltip" data-placement="bottom" title="Last Name" value=""
                               name="LastName" />
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="form-group clearfix">
                    <label class="control-label col-sm-2 col-md-2 tooltip-enable formLabelAlign"
                           data-toggle="tooltip" id="lblLastName" data-placement="bottom" title="Last Name">VAT RegNo:</label>
                    <div class="col-sm-10 col-md-10">
                        <input type="text" class="form-control input-sm tooltip-enable master-screen-input" id="txtLastName"
                               data-toggle="tooltip" data-placement="bottom" title="Last Name" value=""
                               name="LastName" />
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="form-group clearfix">
                    <label class="control-label col-sm-2 col-md-2 tooltip-enable formLabelAlign"
                           data-toggle="tooltip" id="lblLastName" data-placement="bottom" title="Last Name">Excise No:</label>
                    <div class="col-sm-10 col-md-10">
                        <input type="text" class="form-control input-sm tooltip-enable master-screen-input" id="txtLastName"
                               data-toggle="tooltip" data-placement="bottom" title="Last Name" value=""
                               name="LastName" />
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="form-group clearfix">
                    <label class="control-label col-sm-2 col-md-2 tooltip-enable formLabelAlign"
                           data-toggle="tooltip" id="lblLastName" data-placement="bottom" title="Last Name">Range:</label>
                    <div class="col-sm-10 col-md-10">
                        <input type="text" class="form-control input-sm tooltip-enable master-screen-input" id="txtLastName"
                               data-toggle="tooltip" data-placement="bottom" title="Last Name" value=""
                               name="LastName" />
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="form-group clearfix">
                    <label class="control-label col-sm-2 col-md-2 tooltip-enable formLabelAlign"
                           data-toggle="tooltip" id="lblLastName" data-placement="bottom" title="Last Name">Division:</label>
                    <div class="col-sm-10 col-md-10">
                        <input type="text" class="form-control input-sm tooltip-enable master-screen-input" id="txtLastName"
                               data-toggle="tooltip" data-placement="bottom" title="Last Name" value=""
                               name="LastName" />
                    </div>
                </div>
            </div>            
            <div class="row text-right" style="margin-bottom:20px;margin-right:2%;">

                <input type="submit" value="Tax Info" class="ButtonWithImage btnSaveCustomers" data-alert="false" />

            </div>
        </div>
    </div>
</div>




