@model UsersVM

<div class="panel panel-default" style="border-color:#ddd;" id="loginpanel">
    <div class="panel-heading-sm">
        <label><a href="#userloginpanel" data-toggle="collapse" data-parent="#loginpanel">User Login Details<span class="glyphicon glyphicon-minus"></span></a></label>
    </div>

    <div id="userloginpanel" class="panel-body  panel-collapse collapse in" role="tabpanel" aria-labelledby="Header Fields">

        <div class="row">
            <div class="form-group clearfix">
                <label class="control-label col-xs-3 col-sm-4 col-md-4 tooltip-enable formLabelAlign important"
                       data-toggle="tooltip" id="lblFirstName" data-placement="bottom" title="Login ID" for="txtLoginID">Login ID:</label>
                <div class="col-xs-6 col-sm-8 col-md-8">
                    <input type="text" class="form-control input-sm tooltip-enable designItemInput" id="txtLoginID"
                           data-toggle="tooltip" data-placement="bottom" pattern="^[a-zA-Z][a-zA-Z0-9-_\.]{2,20}$" required title="Login ID" maxlength="20" value="@Model.LoginID"
                           name="LoginID" />
                </div>
            </div>
        </div>
        <div class="row">
            <div class="form-group clearfix">
                <label class="control-label col-xs-3 col-sm-4 col-md-4 tooltip-enable formLabelAlign important"
                       data-toggle="tooltip" id="lblPassword" data-placement="bottom" title="Password" for="txtPassword">Password:</label>
                <div class="col-xs-6 col-sm-8 col-md-8">
                    <input type="password" class="form-control input-sm tooltip-enable designItemInput" id="txtPassword"
                           data-toggle="tooltip" data-placement="bottom" pattern="^[a-zA-Z][a-zA-Z0-9-_\.]{2,20}$" title="Password" maxlength="20" value="@Model.Password" 
                           name="Password" required />
                </div>
            </div>
        </div>
        <div class="row">
            <div class="form-group clearfix">
                <label class="control-label col-xs-3 col-sm-4 col-md-4 tooltip-enable formLabelAlign important"
                       data-toggle="tooltip" id="lblConfirmPassword" data-placement="bottom" title="Confirm Password" for="txtConfirmPassword">Confirm Password:</label>
                <div class="col-xs-6 col-sm-8 col-md-8">
                    <input type="password" class="form-control input-sm tooltip-enable designItemInput" id="txtConfirmPassword"
                           data-toggle="tooltip" data-placement="bottom" pattern="^[a-zA-Z][a-zA-Z0-9-_\.]{2,20}$" title="Confirm Password" maxlength="20" value="@Model.ConfirmPassword"
                           name="ConfirmPassword" required />
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-3 col-sm-4 col-md-4">

            </div>
            <div class="col-xs-6 col-sm-8 col-md-8">
                <label class="form-check-label role-form-check">
                    @Html.EditorFor(model => Model.IsActive, new
                       {
                           htmlAttributes = new
                           {
                               @class = "form-check-input",
                               @id = "chkActivateDeactivate"
                           }
                       })
                </label>
                <label class="role-form-check-label" for="chkActivateDeactivate">Activate/De-Activate</label>
            </div>
        </div>
    </div>
</div>
