@model  List<ScreenVM>

@if (Model != null && Model.Any() && Model.Any(x => x.ChildScreens != null && x.ChildScreens.Any()))
{
    for (int i = 1; i < Model.Count; i++)
    {
        if (Model[i].ChildScreens != null && Model[i].ChildScreens.Any())
        {
            <div class="col-md-6">
                <div class="panel panel-default" style="border-color:#ddd;" id="panel@i">
                    <div class="panel-heading">
                        <label>
                            <a href="#Screen@Model[i].ScreenID" data-toggle="collapse" data-parent="#panel@i">
                                <span class="glyphicon glyphicon-minus"></span>@Model[i].ScreenName
                            </a>
                        </label>
                    </div>

                    <div id="masterscreens" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="Header Fields">
                        <div class="table-responsive">
                            <table class="table">
                                <thead>
                                    <tr style="color:#fff;">
                                        <th class="text-center" width="60%">Name</th>
                                        <th class="text-center" width="20%">Viewer</th>
                                        <th class="text-center" width="20%">Modify</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @for (int screen = 1; screen < Model[i].ChildScreens.Count; screen++)
                                    {
                                        <tr>

                                            <td>
                                                @Model[i].ChildScreens[screen].ScreenID
                                                @Model[i].ChildScreens[screen].ScreenName
                                            </td>

                                            <td></td>

                                            <td></td>

                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        }
    }
}


    <div class="row text-center" style="margin-left:1%;margin-right:1%;">

        <div class="col-md-4">
            <div class="panel panel-default" style="border-color:#ddd;" id="panel1">
                <div class="panel-heading-sm">

                    <label><a href="#masterscreens" data-toggle="collapse" data-parent="#panel1">Master Screen<span class="glyphicon glyphicon-minus"></span></a></label>
                </div>
                <div id="masterscreens" class="panel-body  panel-collapse collapse in" role="tabpanel" aria-labelledby="Header Fields">
                    <div class="text-center">
                        <div class="text-center form-check mb-2 mr-sm-2 mb-sm-0">
                            <label class="form-check-label">
                                <input class="form-check-input" type="checkbox">  Select All
                            </label>
                        </div>
                        <div class="table-responsive">
                            <table class="table table-heading-sm">
                                <thead>
                                    <tr>
                                        <th width="70%">Name</th>
                                        <th width="15%">
                                            <input class="form-check-input" type="checkbox">
                                            Viewer
                                        </th>
                                        <th width="15%">
                                            <input class="form-check-input" type="checkbox">
                                            Modify
                                        </th>
                                    </tr>
                                </thead>

                                <tbody>
                                    <tr>
                                        <td>Size</td>
                                        <td>
                                            <div class="form-check mb-2 mr-sm-2 mb-sm-0">
                                                <label class="form-check-label">
                                                    <input class="form-check-input" type="checkbox">
                                                </label>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="form-check mb-2 mr-sm-2 mb-sm-0">
                                                <label class="form-check-label">
                                                    <input class="form-check-input" type="checkbox">
                                                </label>
                                            </div>
                                        </td>

                                    </tr>
                                    <tr>

                                        <td>Description</td>

                                        <td>
                                            <div class="form-check mb-2 mr-sm-2 mb-sm-0">
                                                <label class="form-check-label">
                                                    <input class="form-check-input" type="checkbox">
                                                </label>
                                            </div>
                                        </td>

                                        <td>
                                            <div class="form-check mb-2 mr-sm-2 mb-sm-0">
                                                <label class="form-check-label">
                                                    <input class="form-check-input" type="checkbox">
                                                </label>
                                            </div>
                                        </td>

                                    </tr>
                                    <tr>

                                        <td>Property</td>

                                        <td>
                                            <div class="form-check mb-2 mr-sm-2 mb-sm-0">
                                                <label class="form-check-label">
                                                    <input class="form-check-input" type="checkbox">
                                                </label>
                                            </div>
                                        </td>

                                        <td>
                                            <div class="form-check mb-2 mr-sm-2 mb-sm-0">
                                                <label class="form-check-label">
                                                    <input class="form-check-input" type="checkbox">
                                                </label>
                                            </div>
                                        </td>

                                    </tr>
                                    <tr>

                                        <td>Category</td>

                                        <td>
                                            <div class="form-check mb-2 mr-sm-2 mb-sm-0">
                                                <label class="form-check-label">
                                                    <input class="form-check-input" type="checkbox">
                                                </label>
                                            </div>
                                        </td>

                                        <td>
                                            <div class="form-check mb-2 mr-sm-2 mb-sm-0">
                                                <label class="form-check-label">
                                                    <input class="form-check-input" type="checkbox">
                                                </label>
                                            </div>
                                        </td>

                                    </tr>

                                    <tr>

                                        <td>Manufacturer</td>

                                        <td>
                                            <div class="form-check mb-2 mr-sm-2 mb-sm-0">
                                                <label class="form-check-label">
                                                    <input class="form-check-input" type="checkbox">
                                                </label>
                                            </div>
                                        </td>

                                        <td>
                                            <div class="form-check mb-2 mr-sm-2 mb-sm-0">
                                                <label class="form-check-label">
                                                    <input class="form-check-input" type="checkbox">
                                                </label>
                                            </div>
                                        </td>

                                    </tr>

                                    <tr>

                                        <td>Vendor</td>

                                        <td>
                                            <div class="form-check mb-2 mr-sm-2 mb-sm-0">
                                                <label class="form-check-label">
                                                    <input class="form-check-input" type="checkbox">
                                                </label>
                                            </div>
                                        </td>

                                        <td>
                                            <div class="form-check mb-2 mr-sm-2 mb-sm-0">
                                                <label class="form-check-label">
                                                    <input class="form-check-input" type="checkbox">
                                                </label>
                                            </div>
                                        </td>

                                    </tr>

                                    <tr>

                                        <td>Customer</td>

                                        <td>
                                            <div class="form-check mb-2 mr-sm-2 mb-sm-0">
                                                <label class="form-check-label">
                                                    <input class="form-check-input" type="checkbox">
                                                </label>
                                            </div>
                                        </td>

                                        <td>
                                            <div class="form-check mb-2 mr-sm-2 mb-sm-0">
                                                <label class="form-check-label">
                                                    <input class="form-check-input" type="checkbox">
                                                </label>
                                            </div>
                                        </td>

                                    </tr>

                                    <tr>

                                        <td>Item</td>

                                        <td>
                                            <div class="form-check mb-2 mr-sm-2 mb-sm-0">
                                                <label class="form-check-label">
                                                    <input class="form-check-input" type="checkbox">
                                                </label>
                                            </div>
                                        </td>

                                        <td>
                                            <div class="form-check mb-2 mr-sm-2 mb-sm-0">
                                                <label class="form-check-label">
                                                    <input class="form-check-input" type="checkbox">
                                                </label>
                                            </div>
                                        </td>

                                    </tr>

                                    <tr>

                                        <td>Machine</td>

                                        <td>
                                            <div class="form-check mb-2 mr-sm-2 mb-sm-0">
                                                <label class="form-check-label">
                                                    <input class="form-check-input" type="checkbox">
                                                </label>
                                            </div>
                                        </td>

                                        <td>
                                            <div class="form-check mb-2 mr-sm-2 mb-sm-0">
                                                <label class="form-check-label">
                                                    <input class="form-check-input" type="checkbox">
                                                </label>
                                            </div>
                                        </td>

                                    </tr>

                                    <tr>

                                        <td>Process/Department</td>

                                        <td>
                                            <div class="form-check mb-2 mr-sm-2 mb-sm-0">
                                                <label class="form-check-label">
                                                    <input class="form-check-input" type="checkbox">
                                                </label>
                                            </div>
                                        </td>

                                        <td>
                                            <div class="form-check mb-2 mr-sm-2 mb-sm-0">
                                                <label class="form-check-label">
                                                    <input class="form-check-input" type="checkbox">
                                                </label>
                                            </div>
                                        </td>

                                    </tr>

                                    <tr>

                                        <td>Component</td>

                                        <td>
                                            <div class="form-check mb-2 mr-sm-2 mb-sm-0">
                                                <label class="form-check-label">
                                                    <input class="form-check-input" type="checkbox">
                                                </label>
                                            </div>
                                        </td>

                                        <td>
                                            <div class="form-check mb-2 mr-sm-2 mb-sm-0">
                                                <label class="form-check-label">
                                                    <input class="form-check-input" type="checkbox">
                                                </label>
                                            </div>
                                        </td>

                                    </tr>

                                    <tr>

                                        <td>Job Card Component Process</td>

                                        <td>
                                            <div class="form-check mb-2 mr-sm-2 mb-sm-0">
                                                <label class="form-check-label">
                                                    <input class="form-check-input" type="checkbox">
                                                </label>
                                            </div>
                                        </td>

                                        <td>
                                            <div class="form-check mb-2 mr-sm-2 mb-sm-0">
                                                <label class="form-check-label">
                                                    <input class="form-check-input" type="checkbox">
                                                </label>
                                            </div>
                                        </td>

                                    </tr>

                                    <tr>

                                        <td>Job Card Process and Component</td>

                                        <td>
                                            <div class="form-check mb-2 mr-sm-2 mb-sm-0">
                                                <label class="form-check-label">
                                                    <input class="form-check-input" type="checkbox">
                                                </label>
                                            </div>
                                        </td>

                                        <td>
                                            <div class="form-check mb-2 mr-sm-2 mb-sm-0">
                                                <label class="form-check-label">
                                                    <input class="form-check-input" type="checkbox">
                                                </label>
                                            </div>
                                        </td>

                                    </tr>

                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="panel panel-default" style="border-color:#ddd;" id="panel2">
                <div class="panel-heading-sm">
                    <label><a href="#vendormanagement" data-toggle="collapse" data-parent="#panel2">Vendor Management<span class="glyphicon glyphicon-minus"></span></a></label>
                </div>
                <div id="vendormanagement" class="panel-body  panel-collapse collapse in" role="tabpanel" aria-labelledby="Header Fields">
                    <div class="text-center">
                        <div class="text-center form-check mb-2 mr-sm-2 mb-sm-0">
                            <label class="form-check-label">
                                <input class="form-check-input" type="checkbox">  Select All
                            </label>
                        </div>
                        <div class="table-responsive">
                            <table class="table table-heading-sm">
                                <thead>
                                    <tr>

                                        <th width="70%">Name</th>

                                        <th width="15%">
                                            <input class="form-check-input" type="checkbox">
                                            Viewer



                                        </th>

                                        <th width="15%">
                                            <input class="form-check-input" type="checkbox">
                                            Modify



                                        </th>

                                    </tr>

                                </thead>

                                <tbody>
                                    <tr>

                                        <td>Enquiry</td>

                                        <td>
                                            <div class="form-check mb-2 mr-sm-2 mb-sm-0">
                                                <label class="form-check-label">
                                                    <input class="form-check-input" type="checkbox">
                                                </label>
                                            </div>
                                        </td>

                                        <td>
                                            <div class="form-check mb-2 mr-sm-2 mb-sm-0">
                                                <label class="form-check-label">
                                                    <input class="form-check-input" type="checkbox">
                                                </label>
                                            </div>
                                        </td>

                                    </tr>
                                    <tr>

                                        <td>Quotation</td>

                                        <td>
                                            <div class="form-check mb-2 mr-sm-2 mb-sm-0">
                                                <label class="form-check-label">
                                                    <input class="form-check-input" type="checkbox">
                                                </label>
                                            </div>
                                        </td>

                                        <td>
                                            <div class="form-check mb-2 mr-sm-2 mb-sm-0">
                                                <label class="form-check-label">
                                                    <input class="form-check-input" type="checkbox">
                                                </label>
                                            </div>
                                        </td>

                                    </tr>
                                    <tr>

                                        <td>Quotation Acceptance</td>

                                        <td>
                                            <div class="form-check mb-2 mr-sm-2 mb-sm-0">
                                                <label class="form-check-label">
                                                    <input class="form-check-input" type="checkbox">
                                                </label>
                                            </div>
                                        </td>

                                        <td>
                                            <div class="form-check mb-2 mr-sm-2 mb-sm-0">
                                                <label class="form-check-label">
                                                    <input class="form-check-input" type="checkbox">
                                                </label>
                                            </div>
                                        </td>

                                    </tr>

                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="panel panel-default" style="border-color:#ddd;" id="panel3">
                <div class="panel-heading-sm">
                    <label><a href="#pomanagement" data-toggle="collapse" data-parent="#panel3">PO Management<span class="glyphicon glyphicon-minus"></span></a></label>
                </div>
                <div id="pomanagement" class="panel-body panel-collapse collapse in" role="tabpanel" aria-labelledby="Header Fields">
                    <div class="text-center">
                        <div class="text-center form-check mb-2 mr-sm-2 mb-sm-0">
                            <label class="form-check-label">
                                <input class="form-check-input" type="checkbox">  Select All
                            </label>
                        </div>
                        <div class="table-responsive">
                            <table class="table table-heading-sm">
                                <thead>
                                    <tr>

                                        <th width="70%">Name</th>

                                        <th width="15%">
                                            <input class="form-check-input" type="checkbox">
                                            Viewer



                                        </th>

                                        <th width="15%">
                                            <input class="form-check-input" type="checkbox">
                                            Modify



                                        </th>

                                    </tr>

                                </thead>

                                <tbody>
                                    <tr>

                                        <td>Indent</td>

                                        <td>
                                            <div class="form-check mb-2 mr-sm-2 mb-sm-0">
                                                <label class="form-check-label">
                                                    <input class="form-check-input" type="checkbox">
                                                </label>
                                            </div>
                                        </td>

                                        <td>
                                            <div class="form-check mb-2 mr-sm-2 mb-sm-0">
                                                <label class="form-check-label">
                                                    <input class="form-check-input" type="checkbox">
                                                </label>
                                            </div>
                                        </td>

                                    </tr>
                                    <tr>

                                        <td>Approve Indent</td>

                                        <td>
                                            <div class="form-check mb-2 mr-sm-2 mb-sm-0">
                                                <label class="form-check-label">
                                                    <input class="form-check-input" type="checkbox">
                                                </label>
                                            </div>
                                        </td>

                                        <td>
                                            <div class="form-check mb-2 mr-sm-2 mb-sm-0">
                                                <label class="form-check-label">
                                                    <input class="form-check-input" type="checkbox">
                                                </label>
                                            </div>
                                        </td>

                                    </tr>
                                    <tr>

                                        <td>Generate PO</td>

                                        <td>
                                            <div class="form-check mb-2 mr-sm-2 mb-sm-0">
                                                <label class="form-check-label">
                                                    <input class="form-check-input" type="checkbox">
                                                </label>
                                            </div>
                                        </td>

                                        <td>
                                            <div class="form-check mb-2 mr-sm-2 mb-sm-0">
                                                <label class="form-check-label">
                                                    <input class="form-check-input" type="checkbox">
                                                </label>
                                            </div>
                                        </td>

                                    </tr>
                                    <tr>

                                        <td>Approve PO</td>

                                        <td>
                                            <div class="form-check mb-2 mr-sm-2 mb-sm-0">
                                                <label class="form-check-label">
                                                    <input class="form-check-input" type="checkbox">
                                                </label>
                                            </div>
                                        </td>

                                        <td>
                                            <div class="form-check mb-2 mr-sm-2 mb-sm-0">
                                                <label class="form-check-label">
                                                    <input class="form-check-input" type="checkbox">
                                                </label>
                                            </div>
                                        </td>

                                    </tr>

                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="panel panel-default" style="border-color:#ddd;" id="panel4">
                <div class="panel-heading-sm">
                    <label><a href="#inventorymanagement" data-toggle="collapse" data-parent="#panel4">Inventory Management<span class="glyphicon glyphicon-minus"></span></a></label>
                </div>
                <div id="inventorymanagement" class="panel-body panel-collapse collapse in" role="tabpanel" aria-labelledby="Header Fields">
                    <div class="text-center">
                        <div class="text-center form-check mb-2 mr-sm-2 mb-sm-0">
                            <label class="form-check-label">
                                <input class="form-check-input" type="checkbox">  Select All
                            </label>
                        </div>
                        <div class="table-responsive">
                            <table class="table table-heading-sm">
                                <thead>
                                    <tr>

                                        <th width="70%">Name</th>

                                        <th width="15%">
                                            <input class="form-check-input" type="checkbox">
                                            Viewer



                                        </th>

                                        <th width="15%">
                                            <input class="form-check-input" type="checkbox">
                                            Modify



                                        </th>

                                    </tr>

                                </thead>

                                <tbody>
                                    <tr>

                                        <td>GRN</td>

                                        <td>
                                            <div class="form-check mb-2 mr-sm-2 mb-sm-0">
                                                <label class="form-check-label">
                                                    <input class="form-check-input" type="checkbox">
                                                </label>
                                            </div>
                                        </td>

                                        <td>
                                            <div class="form-check mb-2 mr-sm-2 mb-sm-0">
                                                <label class="form-check-label">
                                                    <input class="form-check-input" type="checkbox">
                                                </label>
                                            </div>
                                        </td>

                                    </tr>
                                    <tr>

                                        <td>GRN Inspection</td>

                                        <td>
                                            <div class="form-check mb-2 mr-sm-2 mb-sm-0">
                                                <label class="form-check-label">
                                                    <input class="form-check-input" type="checkbox">
                                                </label>
                                            </div>
                                        </td>

                                        <td>
                                            <div class="form-check mb-2 mr-sm-2 mb-sm-0">
                                                <label class="form-check-label">
                                                    <input class="form-check-input" type="checkbox">
                                                </label>
                                            </div>
                                        </td>

                                    </tr>
                                    <tr>

                                        <td>Material Issue/Returns</td>

                                        <td>
                                            <div class="form-check mb-2 mr-sm-2 mb-sm-0">
                                                <label class="form-check-label">
                                                    <input class="form-check-input" type="checkbox">
                                                </label>
                                            </div>
                                        </td>

                                        <td>
                                            <div class="form-check mb-2 mr-sm-2 mb-sm-0">
                                                <label class="form-check-label">
                                                    <input class="form-check-input" type="checkbox">
                                                </label>
                                            </div>
                                        </td>

                                    </tr>

                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="panel panel-default" style="border-color:#ddd;" id="panel5">
                <div class="panel-heading-sm">
                    <label><a href="#jobmanagement" data-toggle="collapse" data-parent="#panel5">Job Management<span class="glyphicon glyphicon-minus"></span></a></label>
                </div>
                <div id="jobmanagement" class="panel-body panel-collapse collapse in" role="tabpanel" aria-labelledby="Header Fields">
                    <div class="text-center">
                        <div class="text-center form-check mb-2 mr-sm-2 mb-sm-0">
                            <label class="form-check-label">
                                <input class="form-check-input" type="checkbox">  Select All
                            </label>
                        </div>
                        <div class="table-responsive">
                            <table class="table table-heading-sm">
                                <thead>
                                    <tr>

                                        <th width="70%">Name</th>

                                        <th width="15%">
                                            <input class="form-check-input" type="checkbox">
                                            Viewer



                                        </th>

                                        <th width="15%">
                                            <input class="form-check-input" type="checkbox">
                                            Modify



                                        </th>

                                    </tr>

                                </thead>

                                <tbody>
                                    <tr>

                                        <td>Job Card</td>

                                        <td>
                                            <div class="form-check mb-2 mr-sm-2 mb-sm-0">
                                                <label class="form-check-label">
                                                    <input class="form-check-input" type="checkbox">
                                                </label>
                                            </div>
                                        </td>

                                        <td>
                                            <div class="form-check mb-2 mr-sm-2 mb-sm-0">
                                                <label class="form-check-label">
                                                    <input class="form-check-input" type="checkbox">
                                                </label>
                                            </div>
                                        </td>

                                    </tr>
                                    <tr>

                                        <td>Job Card Scheduling</td>

                                        <td>
                                            <div class="form-check mb-2 mr-sm-2 mb-sm-0">
                                                <label class="form-check-label">
                                                    <input class="form-check-input" type="checkbox">
                                                </label>
                                            </div>
                                        </td>

                                        <td>
                                            <div class="form-check mb-2 mr-sm-2 mb-sm-0">
                                                <label class="form-check-label">
                                                    <input class="form-check-input" type="checkbox">
                                                </label>
                                            </div>
                                        </td>

                                    </tr>
                                    <tr>

                                        <td>Job Process Scheduling</td>

                                        <td>
                                            <div class="form-check mb-2 mr-sm-2 mb-sm-0">
                                                <label class="form-check-label">
                                                    <input class="form-check-input" type="checkbox">
                                                </label>
                                            </div>
                                        </td>

                                        <td>
                                            <div class="form-check mb-2 mr-sm-2 mb-sm-0">
                                                <label class="form-check-label">
                                                    <input class="form-check-input" type="checkbox">
                                                </label>
                                            </div>
                                        </td>

                                    </tr>

                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>


    <div class="row text-center" style="margin-left:1%;margin-right:1%;">

        <div class="col-md-4">
            <div class="panel panel-default" style="border-color:#ddd;" id="panel6">
                <div class="panel-heading-sm">
                    <label><a href="#reports" data-toggle="collapse" data-parent="#panel6">Reports<span class="glyphicon glyphicon-minus"></span></a></label>
                </div>
                <div id="reports" class="panel-body panel-collapse collapse in" role="tabpanel" aria-labelledby="Header Fields">
                    <div class="text-center">
                        <div class="text-center form-check mb-2 mr-sm-2 mb-sm-0">
                            <label class="form-check-label">
                                <input class="form-check-input" type="checkbox">  Select All
                            </label>
                        </div>
                        <div class="table-responsive">
                            <table class="table table-heading-sm">
                                <thead>
                                    <tr>

                                        <th width="70%">Name</th>

                                        <th width="15%">
                                            <input class="form-check-input" type="checkbox">
                                            Viewer



                                        </th>

                                        <th width="15%">
                                            <input class="form-check-input" type="checkbox">
                                            Modify



                                        </th>

                                    </tr>

                                </thead>

                                <tbody>
                                    <tr>

                                        <td>Departement Wise</td>

                                        <td>
                                            <div class="form-check mb-2 mr-sm-2 mb-sm-0">
                                                <label class="form-check-label">
                                                    <input class="form-check-input" type="checkbox">
                                                </label>
                                            </div>
                                        </td>

                                        <td>
                                            <div class="form-check mb-2 mr-sm-2 mb-sm-0">
                                                <label class="form-check-label">
                                                    <input class="form-check-input" type="checkbox">
                                                </label>
                                            </div>
                                        </td>

                                    </tr>

                                    <tr>

                                        <td>Job Card Wise</td>

                                        <td>
                                            <div class="form-check mb-2 mr-sm-2 mb-sm-0">
                                                <label class="form-check-label">
                                                    <input class="form-check-input" type="checkbox">
                                                </label>
                                            </div>
                                        </td>

                                        <td>
                                            <div class="form-check mb-2 mr-sm-2 mb-sm-0">
                                                <label class="form-check-label">
                                                    <input class="form-check-input" type="checkbox">
                                                </label>
                                            </div>
                                        </td>

                                    </tr>

                                    <tr>

                                        <td>Component Wise</td>

                                        <td>
                                            <div class="form-check mb-2 mr-sm-2 mb-sm-0">
                                                <label class="form-check-label">
                                                    <input class="form-check-input" type="checkbox">
                                                </label>
                                            </div>
                                        </td>

                                        <td>
                                            <div class="form-check mb-2 mr-sm-2 mb-sm-0">
                                                <label class="form-check-label">
                                                    <input class="form-check-input" type="checkbox">
                                                </label>
                                            </div>
                                        </td>

                                    </tr>

                                    <tr>

                                        <td>Material Inward</td>

                                        <td>
                                            <div class="form-check mb-2 mr-sm-2 mb-sm-0">
                                                <label class="form-check-label">
                                                    <input class="form-check-input" type="checkbox">
                                                </label>
                                            </div>
                                        </td>

                                        <td>
                                            <div class="form-check mb-2 mr-sm-2 mb-sm-0">
                                                <label class="form-check-label">
                                                    <input class="form-check-input" type="checkbox">
                                                </label>
                                            </div>
                                        </td>

                                    </tr>

                                    <tr>

                                        <td>Material Issue</td>

                                        <td>
                                            <div class="form-check mb-2 mr-sm-2 mb-sm-0">
                                                <label class="form-check-label">
                                                    <input class="form-check-input" type="checkbox">
                                                </label>
                                            </div>
                                        </td>

                                        <td>
                                            <div class="form-check mb-2 mr-sm-2 mb-sm-0">
                                                <label class="form-check-label">
                                                    <input class="form-check-input" type="checkbox">
                                                </label>
                                            </div>
                                        </td>

                                    </tr>

                                    <tr>

                                        <td>Material Returns</td>

                                        <td>
                                            <div class="form-check mb-2 mr-sm-2 mb-sm-0">
                                                <label class="form-check-label">
                                                    <input class="form-check-input" type="checkbox">
                                                </label>
                                            </div>
                                        </td>

                                        <td>
                                            <div class="form-check mb-2 mr-sm-2 mb-sm-0">
                                                <label class="form-check-label">
                                                    <input class="form-check-input" type="checkbox">
                                                </label>
                                            </div>
                                        </td>

                                    </tr>

                                    <tr>

                                        <td>Inventory</td>

                                        <td>
                                            <div class="form-check mb-2 mr-sm-2 mb-sm-0">
                                                <label class="form-check-label">
                                                    <input class="form-check-input" type="checkbox">
                                                </label>
                                            </div>
                                        </td>

                                        <td>
                                            <div class="form-check mb-2 mr-sm-2 mb-sm-0">
                                                <label class="form-check-label">
                                                    <input class="form-check-input" type="checkbox">
                                                </label>
                                            </div>
                                        </td>

                                    </tr>

                                    <tr>

                                        <td>Machine</td>

                                        <td>
                                            <div class="form-check mb-2 mr-sm-2 mb-sm-0">
                                                <label class="form-check-label">
                                                    <input class="form-check-input" type="checkbox">
                                                </label>
                                            </div>
                                        </td>

                                        <td>
                                            <div class="form-check mb-2 mr-sm-2 mb-sm-0">
                                                <label class="form-check-label">
                                                    <input class="form-check-input" type="checkbox">
                                                </label>
                                            </div>
                                        </td>

                                    </tr>

                                    <tr>

                                        <td>Purchase Order Pending</td>

                                        <td>
                                            <div class="form-check mb-2 mr-sm-2 mb-sm-0">
                                                <label class="form-check-label">
                                                    <input class="form-check-input" type="checkbox">
                                                </label>
                                            </div>
                                        </td>

                                        <td>
                                            <div class="form-check mb-2 mr-sm-2 mb-sm-0">
                                                <label class="form-check-label">
                                                    <input class="form-check-input" type="checkbox">
                                                </label>
                                            </div>
                                        </td>

                                    </tr>

                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="col-md-4">
            <div class="panel panel-default" style="border-color:#ddd;" id="panel6">
                <div class="panel-heading-sm">
                    <label><a href="#invoicemanagement" data-toggle="collapse" data-parent="#panel6">Invoice Management<span class="glyphicon glyphicon-minus"></span></a></label>
                </div>
                <div id="invoicemanagement" class="panel-body panel-collapse collapse in" role="tabpanel" aria-labelledby="Header Fields">
                    <div class="text-center">
                        <div class="text-center form-check mb-2 mr-sm-2 mb-sm-0">
                            <label class="form-check-label">
                                <input class="form-check-input" type="checkbox">  Select All
                            </label>
                        </div>
                        <div class="table-responsive">
                            <table class="table table-heading-sm">
                                <thead>
                                    <tr>

                                        <th width="70%">Name</th>

                                        <th width="15%">
                                            <input class="form-check-input" type="checkbox">
                                            Viewer



                                        </th>

                                        <th width="15%">
                                            <input class="form-check-input" type="checkbox">
                                            Modify



                                        </th>

                                    </tr>

                                </thead>

                                <tbody>
                                    <tr>

                                        <td>DC</td>

                                        <td>
                                            <div class="form-check mb-2 mr-sm-2 mb-sm-0">
                                                <label class="form-check-label">
                                                    <input class="form-check-input" type="checkbox">
                                                </label>
                                            </div>
                                        </td>

                                        <td>
                                            <div class="form-check mb-2 mr-sm-2 mb-sm-0">
                                                <label class="form-check-label">
                                                    <input class="form-check-input" type="checkbox">
                                                </label>
                                            </div>
                                        </td>

                                    </tr>

                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>



    </div>
