@model  List<ScreenVM>

@if (Model != null && Model.Any() && Model.Any(x => x.ChildScreens != null && x.ChildScreens.Any()))
{
    for (int i = 1; i < Model.Count; i++)
    {
        if (Model[i].ChildScreens != null && Model[i].ChildScreens.Any())
        {
            <div class="col-md-4">
                <div class="panel panel-default" style="border-color:#ddd;" id="panel@i">
                    <div class="panel-heading-sm">
                        <label><a href="#screen@Model[i].ScreenID " data-toggle="collapse" data-parent="#panel@i">@Model[i].ScreenName<span class="glyphicon glyphicon-minus">
                            </span></a></label>
                    </div>
                    <div id="screen@Model[i].ScreenID" class="panel-body panel-collapse collapse in" role="tabpanel" aria-labelledby="Header Fields">
                        <div class="text-center">
                            <div class="text-center form-check mb-2 mr-sm-2 mb-sm-0">
                                <label class="form-check-label">
                                    <input class="form-check-input" type="checkbox">  Select All
                                </label>
                            </div>
                            <div class="table-responsive">
                                <table class="table table-heading-sm">
                                    <thead>
                                        <tr>

                                            <th width="70%">Name</th>

                                            <th width="15%">
                                                <input class="form-check-input" type="checkbox">
                                                Viewer
                                            </th>

                                            <th width="15%">
                                                <input class="form-check-input" type="checkbox">
                                                Modify
                                            </th>

                                        </tr>

                                    </thead>

                                    <tbody>
                                        @for (int screen = 1; screen < Model[i].ChildScreens.Count; screen++)
                                        {
                                        <tr>

                                            <td>                                                
                                                @Model[i].ChildScreens[screen].ScreenName
                                            </td>

                                            <td>
                                                <div class="form-check mb-2 mr-sm-2 mb-sm-0">
                                                    <label class="form-check-label">
                                                        <input class="form-check-input" type="checkbox">
                                                    </label>
                                                </div>
                                            </td>

                                            <td>
                                                <div class="form-check mb-2 mr-sm-2 mb-sm-0">
                                                    <label class="form-check-label">
                                                        <input class="form-check-input" type="checkbox">
                                                    </label>
                                                </div>
                                            </td>

                                        </tr>
    }

                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }
    }
}


