
    <div class="panel panel-default" style="border-color:#ddd;" id="personalpanel">
        <div class="panel-heading-sm">
            <label><a href="#userpersonalpanel" data-toggle="collapse" data-parent="#personalpanel">User Personal Details<span class="glyphicon glyphicon-minus"></span></a></label>
        </div>

        <div id="userpersonalpanel" class="panel-body  panel-collapse collapse in" role="tabpanel" aria-labelledby="Header Fields">

            <div class="row">
                <div class="form-group clearfix">
                    <label class="control-label col-xs-2 col-sm-2 col-md-2 tooltip-enable formLabelAlign"
                           data-toggle="tooltip" id="lblFirstName" data-placement="bottom" title="First Name">First Name:</label>
                    <div class="col-xs-8 col-sm-10 col-md-10">
                        <input type="text" class="form-control input-sm tooltip-enable designItemInput" id="txtFirstName"
                               data-toggle="tooltip" data-placement="bottom" title="First Name" maxlength="50" value=""
                               name="FirstName" />
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="form-group clearfix">
                    <label class="control-label col-xs-2 col-sm-2 col-md-2 tooltip-enable formLabelAlign"
                           data-toggle="tooltip" id="lblLastName" data-placement="bottom" title="Last Name">Last Name:</label>
                    <div class="col-xs-8 col-sm-10 col-md-10">
                        <input type="text" class="form-control input-sm tooltip-enable designItemInput" id="txtLastName"
                               data-toggle="tooltip" data-placement="bottom" title="Last Name" maxlength="50" value=""
                                name="LastName" />
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="form-group clearfix">
                    <label class="control-label col-xs-2 col-sm-2 col-md-2 tooltip-enable formLabelAlign"
                           data-toggle="tooltip" id="lblLastName" data-placement="bottom" title="Last Name">Address:</label>
                    <div class="col-xs-8 col-sm-10 col-md-10">
                        <textarea id="txtAddress" name="Address" class="form-control tooltip-enable" rows="5"
                                  data-toggle="tooltip" data-placement="bottom" title="Address"></textarea>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12 col-md-6">
                    <div class="form-group clearfix">
                        <label class="control-label col-xs-2 col-sm-2 col-md-4 tooltip-enable formLabelAlign"
                               data-toggle="tooltip" id="lblPhone" data-placement="bottom" title="Last Name">Phone:</label>
                        <div class="col-xs-8 col-sm-10 col-md-8">
                            <input type="text" class="form-control input-sm tooltip-enable designItemInput" id="txtPhone"
                                   data-toggle="tooltip" data-placement="bottom" title="Phone" maxlength="15" value=""
                                    name="Phone" />
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 col-md-6">
                    <div class="form-group clearfix">
                        <label class="control-label col-xs-2 col-sm-2 col-md-4 tooltip-enable formLabelAlign"
                               data-toggle="tooltip" id="lblMobile" data-placement="bottom" title="Last Name">Mobile:</label>
                        <div class="col-xs-8 col-sm-10 col-md-8">
                            <input type="text" class="form-control input-sm tooltip-enable designItemInput" id="txtMobile"
                                   data-toggle="tooltip" data-placement="bottom" title="Mobile" maxlength="15" value=""
                                   name="Mobile" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="form-group clearfix">
                    <label class="control-label col-xs-2 col-sm-2 col-md-2 tooltip-enable formLabelAlign"
                           data-toggle="tooltip" id="lblEmail" data-placement="bottom" title="Email">Email:</label>
                    <div class="col-xs-8 col-sm-10 col-md-10">
                        <input type="text" class="form-control input-sm tooltip-enable designItemInput" id="txtEmail"
                               data-toggle="tooltip" data-placement="bottom" title="Email" maxlength="50" value=""
                               name="Email" />
                    </div>
                </div>
            </div>
        </div>
    </div>
