
@{
    ViewBag.Title = "CreateRole";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="panel panel-default">
    <div class="panel-heading">
        <label> Create Role  </label>
    </div>

    <div class="panel-body">

        <div class="row text-center" style="margin-bottom:20px;">

            <input type="submit" value="Save" class="ButtonWithImage btnSaveRoles" data-alert="false" />
            <input type="button" value="Cancel" class="ButtonWithImage" onclick="ClearFields()" />

        </div>


        <div class="row">
            <div class="text-center">
                <div class="col-md-1">
                </div>
                <div class="col-md-5">
                    <div class="form-group clearfix">
                        <label class="control-label col-sm-4 col-md-5 tooltip-enable formLabelAlign" data-toggle="tooltip" id="lblRole"
                               data-placement="bottom" title="Role">Role:</label>
                        <div class="col-sm-8 col-md-7">
                            <input type="text" class="form-control input-sm tooltip-enable role-input" id="txtRole"
                                   data-toggle="tooltip" data-placement="bottom" title="Role" maxlength="50"
                                   name="Role" />
                        </div>
                    </div>

                </div>
                <div class="col-md-2 form-check mb-2 mr-sm-2 mb-sm-0">
                    <label class="form-check-label role-form-check">
                        <input class="form-check-input" type="checkbox">
                    </label>
                    <label class="role-form-check-label">Actvate/De-Activate</label>
                </div>
                <div class="col-md-4">
                </div>

            </div>
        </div>

        <div class="row" style="margin-top:2%;">
            <div class="text-center">
                @Html.Partial("_ScreenAccessSelection", null)
            </div>
        </div>

        <div class="row text-center" style="margin-bottom:20px;">

            <input type="submit" value="Save" class="ButtonWithImage btnSaveRoles" data-alert="false" />
            <input type="button" value="Cancel" class="ButtonWithImage" onclick="ClearFields()" />

        </div>

    </div>
</div>


