
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="panel panel-default" style="border-color:#ddd;" id="approlepanel">
    <div class="panel-heading">
        <label><a href="#approles" data-toggle="collapse" data-parent="#approlepanel">Application Roles<span class="glyphicon glyphicon-minus"></span></a></label>
    </div>

    <div id="approles" class="panel-body  panel-collapse collapse in" role="tabpanel" aria-labelledby="Header Fields">
        <h2>All Application Roles</h2>
    </div>
</div>


