@{
    ViewBag.Title = "Page Not Found - Ramya Printers";
    
}

<div class="row">
    <div class="errorWrapper clearfix">

        <div class="col-md-4 col-lg-3 text-center errNotFoundWrapper">

            <p>404</p>
            <p class="notFoundMsg">PAGE NOT FOUND</p>


        </div>

        <div class="col-md-8 col-lg-9 errorMsg">
            <p>We are sorry, the page you requested cannot be found.</p>
            <p style="margin-bottom:30px;">The URL may be misspelled or the page you are looking for is no longer available.</p>
            <p>You may continue to use the application by using the navigation above or</p>
            <p style="font-weight:normal; color:#464646;"><a href="/ZDES" style="">Go back to Home page</a></p>

        </div>

    </div>
</div>