
    <div class="text-center">
        <div class="panel panel-default" style="border-color:#ddd;" id="customersearchpanel">
            <div class="panel-heading-sm">
                <label><a href="#customersearch" data-toggle="collapse" data-parent="#customersearchpanel">Customer Search<span class="glyphicon glyphicon-minus"></span></a></label>
            </div>

            <div id="customersearch" class="panel-body  panel-collapse collapse in" role="tabpanel" aria-labelledby="Header Fields">
                <div class="col-md-6">
                    <h1>customer search</h1>
                </div>

            </div>
        </div>
    </div>