
<div class="panel panel-default" style="border-color:#ddd;" id="customersearchresultspanel">
    <div class="panel-heading-sm">
        <label><a href="#customersearchresults" data-toggle="collapse" data-parent="#customersearchresultspanel">Customer Search Results<span class="glyphicon glyphicon-minus"></span></a></label>
    </div>

    <div id="customersearchresults" class="panel-body  panel-collapse collapse in" role="tabpanel" aria-labelledby="Header Fields">
        <div class="col-md-6">
            <h1>customer search results</h1>
        </div>

    </div>
</div>
